body{
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	font-size: 35px;
}
.tweets{
	width: 25%;
	height: 650px;
	background: blue;
	float: left;
}
.replies{
	width: 25%;
	height: 650px;
	background: gray;
	float: left;
}
.search{
	width: 25%;
	height: 650px;
	background: orange;
	float: left;
}
.messages{
	width: 25%;
	height: 650px;
	background: pink;
	float: left;
}