.Header{
	background-color: #9F81F7;
	padding: 10px;
	text-align: center;
	font-size: 35px;
	border-style: solid;
}
.Leftpane {
	float: left;
	width: 10%;
	height: 11.2cm;
	background: #ccc;
	padding: 20px;
	font-size: 35px;
	text-align: center;
	border-style: solid;
}
.Pre_body{
	padding: 20px;
	width: 60%;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 35px;
	border-style: solid;
}
.Body{
	padding: 20px;
	width: 60%;
	background-color: white;
	text-align: center;
	font-size: 35px;
	border-style: solid;
}
.Post_body{
	padding: 20px;
	width: 60%;
	background-color: #f1f1f1;
	text-align: center;
	font-size: 35px;
	border-style: solid;
}
.Rightpane{
	width: 10%;
	height: 11.2cm;
	background: #ccc;
	font-size: 35px;
	text-align: center;
	border-style: solid;
	float: left;
	padding: 20px;
	clear: both;
}
.Footer{
	background-color: #777;
	padding: 10px;
	text-align: center;
	float: left;

}